<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/Content/css")

    @section Scripts { @Scripts.Render("~/bundles/jqueryval")  }

    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
    <title>
        My Internet Shop
    </title>
</head>
<body>
    <header>
        <h1>Онлайн-магазин телефонів</h1>
        <nav>
            <ul>
                <ol>@Html.ActionLink("Go to home", "Index", "Home", null, new { @class = "MenuButtons" })</ol>

                @if (!User.Identity.IsAuthenticated)
                {
                    <ol>@Html.ActionLink("Go to register", "Register", "Home", null, new { @class = "MenuButtons" })</ol>

                    <ol>@Html.ActionLink("Go to login", "Login", "Home", null, new { @class = "MenuButtons" })</ol>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <ol>@Html.ActionLink("Go to basket", "Basket", "Home", null, new { @class = "MenuButtons" })</ol>

                    <ol>@Html.ActionLink("Log out", "Logoff", "Home", null, new { @class = "MenuButtons" })</ol>
                }
            </ul>
        </nav>
    </header>

    <sidebar id="sidebar">
        <ul>
            <li>@Html.ActionLink("Go to home", "Index", "Home")</li>
            <li>@Html.ActionLink("Apple", "SortedApple", "Home")</li>
            <li>@Html.ActionLink("Microsoft", "SortedMicrosoft", "Home")</li>
            <li>@Html.ActionLink("Samsung", "SortedSamsung", "Home")</li>
            <li>@Html.ActionLink("Huawei", "SortedHuawei", "Home")</li>
            <li>@Html.ActionLink("Xiaomi", "SortedXiaomi", "Home")</li>

            @if (User.Identity.Name == "admin@gmail.com")
            {
                <li>@Html.ActionLink("Add Goods", "AddGoods", "Home")</li>
            }
        </ul>
    </sidebar>

    <main>
        @RenderBody()
    </main>

    <footer>
        <p>
            @Html.ActionLink("Ліцензія", "Index", "Home") <br />
            Copyright © @DateTime.Now.Year Pasternak Andrii
        </p>
    </footer>
</body>
</html>
